.container {
  min-height: 100vh;
  color: ivory;
  padding: 50px 80px;
  background-image: url("/Images/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.imagesContainer {
  display: flex;
  margin: 20px 0;
  overflow: hidden;
}


.flexColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1000px;
  transition: 0.5s;
  overflow: hidden;
  /* margin: 5px; */
}

.flexColumn img {
  width: 100%;
  max-height: 100%; 
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.9;
  /* margin: 5px; */
  border: 1px solid ivory;
  transition: opacity 0.5s ease, transform 0.5s ease, box-shadow 0.3s ease,
    src 1s ease; 
}

.flexColumn img:hover {
  cursor: crosshair;
  opacity: 1;
  transform: scale(1.2);
  z-index: 2;
}


.small {
  height: 20%;
}

.medium {
  height: 35%;
}

.big {
  height: 45%;
}

@media (max-width: 500px) {
  .container {
    padding: 20px 0px 0px;
  }

  .imagesContainer {
    display: block; /* Todas las imágenes en una sola columna */
    margin: 0;
  }

  .flexColumn {
    width: 100%; /* Ocupan todo el ancho del contenedor */
    height: auto;
    margin-bottom: 0; /* Espaciado entre imágenes */
    display: block;
  }

  .flexColumn img {
    width: 100%; /* Ajustamos al ancho completo */
    height: 450px; /* Fijamos una altura estándar para todas las imágenes */
    object-fit: cover; /* Aseguramos que las imágenes se adapten correctamente */
    margin: 0;
    border: none; /* Elimina bordes para un diseño más limpio */
  }

  .flexColumn img:hover {
    transform: none; /* Evitamos efectos de hover */
    opacity: 1;
  }

  .small, .medium, .big {
    height: 450px; /* Todas las imágenes tendrán la misma altura */
  }
}
