.container {
  /* background-color: ivory; */
  /* color: #2d2e32; */
  background-color: black;
  color: ivory;
  padding: 20px 80px;
}

.imagesContainer {
  display: flex;
  margin: 20px 0;
  overflow: hidden;
  /* margin: 20px 0; */
  /* justify-content: space-between; */
}

/* .flexColumn {
  margin: 0;
  justify-content: center;
  flex-direction: column;
  display: flex;
  width: calc(100% / 3);
  height: 100%;
  transition: 0.5s;
  overflow: hidden; 
} */

.flexColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1000px;
  transition: 0.5s;
  overflow: hidden;
  /* margin: 5px; */
}

.flexColumn img {
  width: 100%;
  max-height: 100%; /* Establece un máximo de altura */
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  /* margin: 5px; */
  border: 1px solid ivory;
  transition: opacity 0.5s ease, transform 0.5s ease, box-shadow 0.3s ease,
    src 1s ease; /* Agregamos transición para el cambio de src */
}

.flexColumn img:hover {
  cursor: crosshair;
  opacity: 1;
  transform: scale(1.2);
  z-index: 2;
}

/* .flexColumn:hover img:not(:hover) {
  opacity: 0.8;
} */

.small {
  height: 25%;
}

.big {
  height: 50%;
}

@media (max-width: 500px) {
  .container {
    padding: 0;
  }

  .imagesContainer {
    display: block;
    margin: 0;
  }

  .flexColumn {
    width: 480px;
    margin: 0;
    height: 1350px;
  }
  .flexColumn img {
    margin: 0;
    opacity: 1;
    border: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .flexColumn img:hover {
    transform: none;
    z-index: 0;
  }

  .flexColumn .small {
    height: 450px;
  }

  .flexColumn .big {
    height: 450px;
  }
}
