.hero {
  /* background-color: #4801ff; */
  background-image: url("/Images/fireBall.webp");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  padding: 100px 100px 20px;
  min-height: 100vh;
}

.container {
  display: flex;
  display: flex;
  flex-direction: column;
  font-size: 160px;
  text-align: right; /* Alinea los enlaces a la derecha */
}

.link {
  /* color: ivory; */
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  /* transform-style: preserve-3d;
  transform: rotateZ(-3deg);  */
  animation: dropDown 2s ease-in-out;
  -webkit-text-stroke: ivory;
  -webkit-text-stroke-width: 1px;
  filter: drop-shadow(0 0 10px rgb(51, 49, 49));
}

.link:hover {
  color: ivory;
  -webkit-text-stroke: black;
  -webkit-text-stroke-width: 1px;
}

@keyframes dropDown {
  0% {
    transform: translateY(-1000%);
  }
  100% {
    transform: translateY(0);
  }
}

.logo {
  font-size: 30px;
  -webkit-text-stroke: black;
  -webkit-text-stroke-width: 1px;
}

.logoContainer {
  color: ivory;
  position: fixed;
  left: 60px;
  bottom: 50px;
  text-align: center;
  -webkit-text-stroke: black;
  -webkit-text-stroke-width: 1px;
}

.logoContainer img {
    filter: drop-shadow(0 0 20px rgb(51, 49, 49));
}

/* .logo:hover {
  color: black;
  -webkit-text-stroke: ivory;
  -webkit-text-stroke-width: 1px;
} */

.afa {
  width: 100px;
  height: auto;
  margin-bottom: 5px;
}

@media (max-width: 1024px) {
  .hero {
    padding: 50px 50px 20px;
  }
  .container {
    font-size: 150px;
  }
  .logo {
    font-size: 25px;
  }
  .logoContainer {
    left: 50px;
    bottom: 50px;
  }

  .afa {
    width: 60px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 50px 20px 20px;
  }
  .container {
    font-size: 120px;
  }
  .logo {
    font-size: 20px;
  }
  .logoContainer {
    left: 30px;
    bottom: 30px;
  }
  .afa {
    width: 70px;
    height: auto;
  }
}

@media (max-width: 500px) {
  .hero {
    padding: 60px 10px;
  }
  .container {
    font-size: 50px;
  }
  .logo {
    font-size: 15px;
  }

  .logoContainer {
    left: 10px;
    bottom: 10px;
  }

  .afa {
    width: 40px;
    height: auto;
  }
}
