.container {
  background-color: #171717;
  text-align: left;
  color: ivory;
  /* background-image: url("/Fondos/tactics.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  padding: 50px 100px 20px;
}

.title {
  color: #4801ff;
  /* padding: 50px; */
  text-align: center;
  font-size: 100px;
}

.grid {
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  width: 100%;
  text-align: center;
  align-items: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}

.flexCenter {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  text-align: center;
  align-items: center;
}


.teamContainer {
  min-width: 235px;
  padding: 10px 5px;
  border: 2px solid #4801ff;
  /* backdrop-filter: blur(15px); */
}

.fantaName {
  font-size: 18px;
  height: 35px;
}

.crest {
  width: 75px;
  height: 75px;
}

.president {
  font-size: 16px;
  margin: 10px 0;
}

.budgetContainer {
  font-size: 15px;
}
