.container {
  background-color: #2D2E32;
  /* background-color: #4801ff; */
  text-align: left;
  color: ivory;
  /* background-image: url("/Fondos/tactics.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  padding: 50px 100px 20px;
}

/* .title {
  color: #4801ff;
  text-align: center;
  font-size: 100px;
} */

.grid {
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  width: 100%;
  text-align: center;
  align-items: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}

.flexCenter {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  text-align: center;
  align-items: center;
  margin: 50px 0;
}

.teamContainer {
  min-width: 235px;
  padding: 10px 5px;
  border: 3px solid #4801ff;
  /* backdrop-filter: blur(15px); */
}

.fantaName {
  font-size: 18px;
  height: 35px;
}

.bigCrest {
  display: flex;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.crest {
  width: 75px;
  height: 75px;
}

.president {
  font-size: 16px;
  margin: 10px 0;
}

.budgetContainer {
  font-size: 15px;
}

/* @media (max-width:768px) {
  .flex {
    justify-content: center;
  }
} */

@media (max-width: 768px) {
  .container {
    padding: 50px 20px;
  }
}
