.playerContainer {
  /* background-image: url("/Backgrounds/elite.webp"); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 192px;
  display: flex; /* Usar flexbox */
  flex-direction: column; /* Alinear los elementos en columna */
  justify-content: center; /* Centrar verticalmente */
  align-items: center; /* Centrar horizontalmente */
  position: relative;
}

.imagePlayer {
  width: 150px;
  height: 150px;
}

.positionPlayer {
  position: absolute;
  left: 15px;
  top: 50px;
  font-size: 18px;
  backdrop-filter: blur(10px);
}

.poliPlayer {
  position: absolute;
  left: 25px;
  top: 70px;
  font-size: 20px;
  backdrop-filter: blur(10px);
}

.boughtPricePlayer {
  position: absolute;
  right: 12px;
  bottom: 75px;
  font-size: 20px;
  backdrop-filter: blur(10px);
}

.namePlayer {
  padding: 3px 0;
  line-height: 20px;
  font-size: 16px;
}

.imageTeam {
  width: 25px;
  height: 25px;
}
