
.login {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  padding: 3% 5%;
  margin: 0;
  font-size: 20px;
  box-sizing: border-box;
  /* position: relative; */
  align-items: center;
  justify-content: center;
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  border-width: 0px;
  border-bottom: 2px solid #f9f9f9;
  line-height: 30px;
  padding-left: 5px;
  color: ivory;
  background-color: transparent;
}

.button {
  font-family: "Roboto", sans-serif; /* Cambiar la fuente a Roboto */
  font-size: 16px;
  width: 150px;
  padding: 8px;
  background-color: #2d2e32;
  color: ivory;
  border-radius: 50px;
  border: 1px solid #2d2e32;
  cursor: pointer;
  margin: 10px 0;
}

.input:focus,
.inputArea:focus {
  outline: none; /* Esto elimina el borde predeterminado al enfocar el input */
  border-color: #2d2e32; /* Cambia el color del borde al enfocar el input */
  caret-color: ivory;
}

.input::placeholder,
.inputArea::placeholder {
  color: ivory;
  text-transform: uppercase;
}

.button:hover {
  border-color: ivory;
}

@media (max-width: 768px) {
  .formulario {
    width: 100%;
  }
}
