.container {
  color: ivory;
  padding: 50px 250px;
  min-height: 100vh;
  background-image: url("/Images/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.boxLogin {
  min-width: 500px;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  color: ivory;
  font-weight: 700;
}

.login {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  padding: 3% 5%;
  margin: 0;
  font-size: 20px;
  box-sizing: border-box;
  /* position: relative; */
  align-items: center;
  justify-content: center;
}

.labelForm {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  border-width: 0px;
  border-bottom: 2px solid #f9f9f9;
  line-height: 30px;
  padding-left: 5px;
  color: ivory;
  background-color: transparent;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.button {
  font-family: "Roboto", sans-serif;
  /* Cambiar la fuente a Roboto */
  font-size: 16px;
  width: 150px;
  padding: 8px;
  background-color: #2d2e32;
  color: ivory;
  border-radius: 50px;
  border: 1px solid #050505;
  cursor: pointer;
  margin-top: 20px;
}

.input:focus,
.inputArea:focus {
  outline: none;
  /* Esto elimina el borde predeterminado al enfocar el input */
  border-color: #49a4f5;
  /* Cambia el color del borde al enfocar el input */
  caret-color: #49a4f5;
  /* caret-color: #2d2e32; */
  color: #49a4f5;
}

.input::placeholder,
.inputArea::placeholder {
  color: ivory;
  text-transform: uppercase;
}

.input:focus::placeholder,
.inputArea:focus::placeholder {
  color: #49a4f5;
  /* Cambia el color del placeholder cuando el input está enfocado */
}

.button:hover {
  border-color: ivory;
}

.debug {
  display: none;
  background: #111;
  color: #0f0;
  padding: 10px;
  font-size: 12px;
  margin-bottom: 10px;
  border: 1px solid #0f0;
}

.boxSubasta {
  margin-top: 25px;
  position: relative;
  overflow-x: hidden;
}

.boxSubastaJugador {
  position: relative;
  display: flex;
  justify-content: center;
  color: ivory;
  font-weight: 700;
  overflow-x: hidden;
}

.label {
  position: relative;
  margin: 5px;
  color: ivory;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  font-weight: 900;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 12px 0;
}

.singlePlayer {
  transform: scale(1.3);
  margin: 45px 0;
}

.containerImageTeam {
  margin: 2px;
  width: 45px;
  height: 45px;
}

.imageTeam {
  /* border: 2px solid transparent; */
  width: 45px;
  height: auto;
}

.buyButton {
  width: 22%;
  padding: 6px;
  border-width: 0.5px;
  border-radius: 50px;
  margin-right: 5px;
  font-weight: 400;
  color: ivory;
  cursor: pointer;
}

.buyButton:hover {
  border-color: #2d2e32;
}

.nextButton {
  width: 45%;
  padding: 6px;
  border-width: 1px;
  border-radius: 50px;
  margin-right: 5px;
  background-color: #023d88;
  color: ivory;
  cursor: pointer;
}

.nextButton:hover {
  border-color: #2d2e32;
}

.retrieveButton {
  width: 50px;
  height: 50px;
  background-color: transparent;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -50px;
  left: 0px;
  border: none;
  cursor: pointer;
}

.checkerButton {
  width: 50px;
  height: 50px;
  background-color: transparent;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -50px;
  left: 40px;
  border: none;
  cursor: pointer;
}

.retrieveButton:hover {
  transform: scale(1.2);
}

.checkerButton:hover {
  transform: scale(1.2);
}

.fantaEquipo {
  border-radius: 20px;
  width: 150px;
  height: 22px;
  color: ivory;
  background-color: black;
}

.crest {
  width: 22px;
  height: 22px;
}

.bc1 {
  /* background-color: rgb(192, 66, 66); */
  background-color: #49a4f5;
}

.bc2 {
  /* background-color: rgb(219, 219, 37); */
  background-color: #1e88e3;
}

.bc3 {
  /* background-color: rgb(142, 223, 21); */
  background-color: #166cc2;
}

.bc4 {
  /* background-color: rgb(0, 255, 0); */
  background-color: #0c51a3;
}

.boxPosiciones {
  margin: 80px 0;
  position: relative;
}

.position {
  position: relative;
}

.positionText {
  font-family: "Bangers Regular";
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin-top: 20px;
}

.positionImage {
  /* margin: 13px 0; */
  width: 350px;
  height: auto;
  filter: drop-shadow(0 0 10px rgb(51, 49, 49));
}

.teamTextContainer {
  /* width: 500px; */
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  top: 200px;
  /* Limitar la altura a 205px para que no supere el tamaño de la carta */
  max-height: 202px;
  color: #a3a3a3;
  overflow: hidden;
}

.teamText {
  font-family: "Bangers Regular";
  font-size: 40px;
  margin: 5px;
}

.table {
  margin-top: 30px;
  table-layout: auto;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}


.ttitle {
  line-height: 30px;
  border: 1px solid black;
  margin-bottom: 5px;
}

.tr {
  line-height: 25px;
  border: 1px solid black;
}

.pointer {
  cursor: pointer;
}


@media (max-width: 1024px) {
  .container {
    padding: 50px 100px;
  }

  .grid {
    padding: 50px 0;
    width: 100%;
  }

  .containerImageTeam,
  .imageTeam {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 750px) {
  .hideMobile {
    display: none;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 35px 15px;
  }

  .fantaEquipo {
    margin: 0 5px 5px;
  }

  .singlePlayer {
    transform: scale(1);
    margin: 0;
  }

  .boxLogin {
    min-width: 0;
  }

  .boxContraseña {
    min-width: 0;
  }

  .teamTextContainer {
    /* width: 500px; */
    margin: 0;
    justify-content: space-around;
    top: 220px;
    max-height: 100px;
  }

  .teamText {
    font-size: 20px;
    margin: 2px;
  }

  .containerImageTeam,
  .imageTeam {
    width: 30px;
    height: 30px;
  }
}