@keyframes lights {
  from {
    background-position: 50% 50%, 50% 50%;
  }

  to {
    background-position: 150% 50%, 150% 50%;
  }
}

.lights {
  --stripesDark: repeating-linear-gradient(
    100deg,
    #000 0%,
    transparent 10%,
    #000 16%
  );
  --rainbow: repeating-linear-gradient(100deg, #d5ff00 5%, #d5ff00 10%);
  background-position: 50%, 50%;
  background-size: 300%, 100%;
  background-image: var(--stripesDark), var(--rainbow);
  filter: blur(5px);
  pointer-events: none;
  z-index: -20;
  opacity: 0.6;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  inset: 0;
  transform: translateZ(0);
  mask-image: radial-gradient(at 100% 0, #d5ff00 20%, #d5ff00 50%);
}

.lights::after {
  content: "";
  position: fixed;
  inset: 0;
  background-size: 200%, 100%;
  animation: lights 100s linear infinite;
  mix-blend-mode: difference;
  background-image: var(--stripesDark), var(--rainbow);
  transform: translateZ(0);
}
