.container {
  text-align: left;
  color: ivory;
  padding: 50px 100px 20px;
  min-height: 100vh;
  background-image: url("/Images/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid {
  justify-content: center;
  align-content: center;
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  text-align: center;
  align-items: center;
}

.jornada {
  padding: 15px 5px;
  position: relative;
  border: 2px solid black;
  font-weight: bold;
  border-radius: 12px;
  backdrop-filter: blur(2px);
}

.jornada:hover {
  border-color: ivory;
  background-image: url("/FantaTeams/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  backdrop-filter: blur(10px);
}

.fecha {
  margin-bottom: 10px;
  font-style: italic;
}

.match {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  gap: 5px;
}

.fantaName {
  font-size: 13px;
  margin: 5px 0;
  width: 120px;
}

.local {
  text-align: right;
}

.visitante {
  text-align: left;
}

.crest {
  width: 20px;
  height: 20px;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 50px;
}

.button {
  font-family: "Roboto", sans-serif; /* Cambiar la fuente a Roboto */
  font-size: 16px;
  width: 150px;
  padding: 8px;
  background-color: #2d2e32;
  color: ivory;
  border-radius: 50px;
  border: 1px solid #050505;
  cursor: pointer;
}

.button:hover {
  background-color: ivory;
  color: black;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .container {
    padding: 35px 20px;
  }

  .grid {
    gap: 20px;
  }
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
